.invoice-list-container{
    margin-left: 10px;
    padding: 20px 0 0 10px;
    border: 1px solid black;
    width: 75vw;
}
.my-table{
    width: 100%;
}
tr {
    cursor: pointer;
}
tr:hover{
    background-color: rgb(203, 196, 196);
}